.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
  
ul.checkout-list li {
  display: flex;
  color: #AAAAAA;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.checkout-list:first-child {
  margin-top: 10px;
}

span.checkout-item {
  margin-left: 20px;
}
span.checkout-item-value {
  margin-right: 20px;
}

.total {
  color: black;
  font-weight: 700;
}
.coupon-value {
  color: #f05b78;
}
.cancel-cart {
  color: #f0a35b;
}
.confirm-cart {
  color: #3bcc2d;
  margin: 0 auto;
}